*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/.kotlin/

# Python Virtual Environments
.venv/
Script/.venv/
**/__pycache__/
*.pyc

# Local Model Weights & Cache
/moss-tts-nano/
/moss-tokenizer-nano/
/sense-voice-int8/
*.gguf
